.app.dark {
  --bg-color: #0e0e75;
  --inverted-bg-color: #e8e8ea;
  --primary-color: tomato;
  --secondary-color: #017a38;
  --inverted-primary-color: #0232c2;
  --inverted-secondary-color: #0449e0;

  //  skeleton
  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;

  // code
  --code-bg: #1212a1;

  // card
  --card-bg: #04042d;
}
