:root,
.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #0e0e75;
  --primary-color: #0232c2;
  --secondary-color: #0449e0;
  --inverted-primary-color: tomato;
  --inverted-secondary-color: #017a38;
}
