.button {
  cursor: pointer;
}

.clear {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.bordered {
  border-width: 1px;
  border-color: var(--inverted-secondary-color);
  border-style: solid;
  border-radius: 4px;
  padding: 5px;

  &:hover {
    background: var(--hover-button-bg);
  }
}
